.leftbar {
    position:fixed;
    top:25px;
    left:0;
    width: 150px;
    height: 100%;
    z-index: 9999;
    /*text-align: center;*/
}

.navfix {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    height: 50px;
    background-color: rgb(24, 143, 225);
}


.myleftnav p{
    color: white;
    margin-top:10px;
}

.myrightnav p{
    color: white;
    margin-top:10px;
    font-size: 15px;
    text-align: right;
}

.mainstage {
    top: 65px;
    left: 180px;
}

.topnav_btn{
    height: 50px;
    text-align: center;
    color: white;
}

.topnav_btn.active{
    background-color: white;
    color: rgb(39, 39, 39);
}

.suba{
    /*top: 2px;*/
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.spanchoose{
    font-size: 30px;
}

.adddisable {
    display: none;
}